twisted==17.5.0
pyopenssl==16.2.0
service_identity==17.0.0
enum34==1.1.6
beautifulsoup4==4.6.0
requests==2.18.1
hiredis==0.2.0
redis==2.10.5
arrow==0.10.0
sqlalchemy==1.1.11
alembic==0.9.3
psycopg2==2.7.2
lxml==3.8.0
pysocks==1.6.7
wolframalpha==3.0
babel==2.4.0
humanize==0.5.1
isodate==0.5.4